
*{
    font-family: 'Poppins', sans-serif; 
    
}
li,a:hover, a:visited, a:link, a:active{
    list-style: none;
    text-decoration: none;
    
}
h1{
    color: #235F26;
    
}
p {
    color: #0C370E;
  
}
html{
    width: 100%;
}
body{
    background-image: radial-gradient(circle, #235f26, #205623, #1d4e1f, #1a451c, #173d19);
    
    overflow-x: hidden;
}


.wavy-bg{
 
    background-image: url(../Webpage-Viva-Bicho-BC/images/bgTopBottom.png);
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100vw;
    opacity: 0.07;
    z-index: -2;
    

}
.corVerdeClaro{
    color: #91F195;
    z-index: 10;
}
.navbarbg{
   background-color:  rgba(29, 78, 31, 0.6);
   
}
.btn-custom{
    background-color: #5CA85F;
    
}
.bgback{
    z-index: -10;
}
.imgback{
    z-index: 1;
}
.bg-triangle{
    object-position: -15vw 10%;
}

.bg-triangle2{
    object-position: 6vw 2vh;
}
.bg-triangle3{
    object-position: right;
    
}
.cardExt{
    min-width: 14.3rem;
    max-width: 22rem;
    
  

}
.card-content{
    height: fit-content;
    min-height: 20.5rem;
}
.cardBranco{
    background-color: #ffffff ;
    border-color: #FFE492;
    
}
.cardVerde{
    background-color: #235F26 ;
    border-color: #5CA85F;
    
}
.blurcardverde{
    background-color: #235f2641 ;
}

.videoContainer{
    min-height: 50vh;


}
.yellowfont{
color: #FFE492!important;


}

.whitefont{

    color:#ffffff;
    text-shadow: 2px 2px #5f5f5f48;
}
.greyfont{
    color:#ffffff;
    text-shadow: 2px 2px #666666;
}
.brushQA{
    background-image: url(../Webpage-Viva-Bicho-BC/images/brushYellow.svg);
    background-size: 85%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 2rem;
}
.brushQABLUE{

    background-image: url(../Webpage-Viva-Bicho-BC/images/brushGreen.svg);
    background-size: 45%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 2rem!important;
    
}
.zindexfront{
    z-index: 130;
}
.cardcomoajudar{
    min-width: 13rem;
    
}
.bg-white{

    background-color: #ffffff;
    width: 100%;
}
.fontsizedropdown{
font-size: small;

    
}
.fontsizedropdown2{
    font-size: medium;
}
.bg-middlefirst{
    position: absolute;
    width: 100vw;
    height:60vh;
    object-fit: cover;
}

#map{
    height: 15rem;
    width: 25rem;
    margin-top: 2rem;
}
#map iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
    .wavy-bg{
 
        
        height:161vh;
        width: 100vw;
        opacity: 0.1;
        z-index: -2;
        
    
    }
    .li-footer{

        margin-top: 2rem;
        padding: 0;
    }
    .bg-white{

        background-color: #ffffff;
        width: 100vw;
    }
    .wavy-bg{
        width: 100vw;
    }
    
    }
@media (min-width: 769px) {
.imgdogbox{
    min-width: 20rem;
}
.fontsizedropdown {
    font-size: medium;
    
        
    }
}