
*{
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
    
}
li,a:hover, a:visited, a:link, a:active{
    list-style: none;
    text-decoration: none;
    
}
h1{
    color: #235F26;
    
}
p {
    color: #0C370E;
  
}
html{
    width: 100%;
}
body{
    background-image: radial-gradient(circle, #235f26, #205623, #1d4e1f, #1a451c, #173d19);
    min-height: 100vh;
    overflow-x: hidden;

}

#toggle{
    position: absolute;
    top: 25px;
    right: 0;
    width: 60px;
    height: 0px;
    background-color: rgba(29, 78, 31, 0.9);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
   
}
#wrap{

    padding: 50px;
}
#toggle::before{

    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-27px);
    transition: 0.2s;
   
}

#toggle::after{

    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-17px);
    transition: 0.2s;
   
}

#toggle.active::before{
    transform: translateY(-20px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(-20px) rotate(-45deg);
}
#toggle.active{
    background-color: rgba(29, 78, 31, 0.6);

}

#navbar{
    position: relative;
    height: 60px;
    left: 30rem;
    bottom: 80px;
    background-color:  rgba(29, 78, 31, 0);
    transition: 0.5s;
    width: 0;
    overflow: hidden;
    z-index: 100;
}

#navbar.active{

    height: 100%;
    width: 660px;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#navbar ul li{
list-style: none;

}

#navbar ul li a{
    color: #fff;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;


}
#navbar ul li a:hover{
color: #91F195;
text-shadow: 2px 2px 8=px rgb(29, 78, 31);;


}

.responsive-navbar-desktop{
    position: relative;
    height: 60px;
    left: 15rem;
    bottom: 80px;
    background-color:  rgba(29, 78, 31, 0);
    transition: 0.5s;
    width: fit-content;
    overflow: hidden;
    z-index: 100;
}



.responsive-navbar-desktop ul {
    position: relative;
    display: flex;
    flex-direction: row;
    
    
    
}

.responsive-navbar-desktop ul li{
list-style: none;
padding-left: 2rem;
}

.responsive-navbar-desktop ul li a{
    color: #fff;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;


}
.responsive-navbar-desktop ul li a:hover{
color: #91F195;
text-shadow: 2px 2px 8=px rgb(29, 78, 31);;


}



.wavy-bg{
 
    background-image: url(../Webpage-Viva-Bicho-BC/images/bgTopBottom.png);
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100vw;
    opacity: 0.07;
    z-index: -2;
    

}
.corVerdeClaro{
    color: #91F195;
    z-index: 10;
}
.navbarbg{
   background-color:  rgba(29, 78, 31, 0.6);
   height: 6rem;
  
   
}
.btn-custom{
    background-color: #5CA85F;
    
}
.bgback{
    z-index: -10;
}
.imgback{
    z-index: 1;
}
.bg-triangle{
    object-position: -15vw 10%;
}

.bg-triangle2{
    object-position: 6vw 2vh;
}
.bg-triangle3{
    object-position: right;
    
}
.cardExt{
    min-width: 14.3rem;
    max-width: 22rem;
    
  

}
.card-content{
    height: 17rem;
    
}
.cardBranco{
    background-color: #ffffff ;
    border-color: #FFE492;
    
}
.cardVerde{
    background-color: #235F26 ;
    border-color: #5CA85F;
    
}
.blurcardverde{
    background-color: #235f2641 ;
}

.videoContainer{
    min-height: 50vh;
    

}
.yellowfont{
color: #FFE492!important;


}
html {
    scroll-behavior: smooth;
}
.whitefont{

    color:#ffffff;
    text-shadow: 2px 2px #5f5f5f48;
}
.greyfont{
    color:#ffffff;
    text-shadow: 2px 2px #666666;
}
.brushQA{
    background-image: url(../Webpage-Viva-Bicho-BC/images/brushYellow.svg);
    background-size: 85%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 2rem;
}
.brushQABLUE{

    background-image: url(../Webpage-Viva-Bicho-BC/images/brushGreen.svg);
    background-size: 45%;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 2rem!important;
    
}
.zindexfront{
    z-index: 130;
}
.cardcomoajudar{
    min-width: 13rem;
    
}
.bg-white{

    background-color: #ffffff;
    width: 100%;
}
.fontsizedropdown{
font-size: small;

    
}
.fontsizedropdown2{
    font-size: medium;
}
.bg-middlefirst{
    position: absolute;
    width: 100vw;
    height:60vh;
    object-fit: cover;
}

#map{
    height: 15rem;
    width: 25rem;
    margin-top: 2rem;
}
#map iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 991px){
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 80%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #navbar.active{
        position: absolute;
        
        height: calc(100vh - 80px);
        bottom: -15.75rem;
        left: 0;
        width: 100%;
        
    }
    #navbar ul{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:  rgba(29, 78, 31, 0.6);
    }
    .responsive-navbar-desktop{

        display: none;
    }
}
@media (max-width: 767px) {
    .wavy-bg{
 
        
        height:161vh;
        width: 100vw;
        opacity: 0.1;
        z-index: -2;
        
    
    }
    .li-footer{

        margin-top: 2rem;
        padding: 0;
    }
    .bg-white{

        background-color: #ffffff;
        width: 100vw;
    }
    .wavy-bg{
        width: 100vw;
    }
    
    }
@media (min-width: 769px) {
.imgdogbox{
    min-width: 20rem;
}
.fontsizedropdown {
    font-size: medium;
    
        
    }
}
@media (min-width:992px){

    .responsive-navbar{

        display: none;
    }
}